*
    box-sizing: border-box

h1,
h2
    color: $color-text-light

h3,
h4
    color: $color-text-dark

h1,
h2,
h3,
h4
    font-family: $font-main

a
    color: inherit

.container
    width: $container-width

.accent
    color: $color-text-accent

main
    height: 1000px
    
