.circles-overlay,
.circles-main
    position: absolute
    overflow: hidden

    svg
        position: absolute

        circle
            stroke: $color-bg

            &.accent
                stroke: $color-accent


.circles-main
    left: 50%
    height: 95vh
    width: 100%
    margin-left: -50%

    .svg-1
        top: 33vh
        left: -120px

        circle
            stroke-width: 48px

    .svg-2
        top: 0
        right: 0

        circle
            stroke-width: 150px

    .svg-3
        top: 0
        left: calc(50% - 110px)

        circle
            stroke-width: 42px

    .svg-4,
    .svg-5
        bottom: 0
        left: calc(50% - 90px)

        circle
            stroke-width: 35px

.circles-overlay
    top: -140px
    right: 0
    height: 260px
    width: 50vw

    .svg-6
        right: calc(50% - 90px)
        bottom: 42px

        circle
            stroke-width: 28px

    .svg-7,
    .svg-8
        bottom: 44px

        circle
            stroke-width: 6px

    .svg-7
        margin-left: 14%

    .svg-8
        right: 11%

    .svg-9
        right: 0

        circle
            stroke-width: 40px
